
.login-bg {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}


.login-card {
  width: 420px;
  padding: 28px 22px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.1);
}


.login-header {
  text-align: center;
  margin-bottom: 22px;
}


.login-control-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


.login-footer {
  margin-top: 15px;
  text-align: center;
}
.topbar-user{
    background-color: #001B3A;
    height: 80px;
    width: 195vh;

}